[submodule "dubbo-go-boot-middleware-web"]
	path = dubbo-go-boot-middleware-web
	url = git@github.com:dubbogo/dubbo-go-boot-middleware-web.git
	branch = master
[submodule "dubbo-go-boot-middleware-dubbo"]
	path = dubbo-go-boot-middleware-dubbo
	url = git@github.com:dubbogo/dubbo-go-boot-middleware-dubbo.git
	branch = master
[submodule "dubbo-go-boot-middleware-database"]
	path = dubbo-go-boot-middleware-database
	url = git@github.com:dubbogo/dubbo-go-boot-middleware-database.git
	branch = master
[submodule "dubbo-go-boot-middleware-redis"]
	path = dubbo-go-boot-middleware-redis
	url = git@github.com:dubbogo/dubbo-go-boot-middleware-redis.git
	branch = master
